* {
  color: black !important;
}
header {
  background: url(img/almond-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  color: black;
}

nav.brand-logo {
  padding-left: 40px;
  color: black;
  font-weight: 400;
}

header nav .brand-logo {
  margin-left: 20px;
  /* left: 45%; */
}

@media screen and (max-width: 980px) {
  header nav .brand-logo {
    margin-left: 0px;
  }
}
@media screen and (max-width: 760px) {
  header {
    /* width: 100%; */
    min-height: 500px;
  }
  header nav .brand-logo {
    font-size: 1.2rem !important;
    left: 40%;
  }
}

@media screen and (max-width: 450px) {
  header nav .brand-logo {
    font-size: 0.9rem !important;
    font-weight: bold;
    padding-left: 20px;
    left: 40%;
  }
}

#portfolio p {
  font-size: 2em;
}
#portfolio ul li a {
  font-size: 1.6em;
  color: hsla(342, 100%, 50%, 0.924) !important;
}
#education {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#skills span {
  font-size: 0.6em;
}
